# == define all the packages that should be installed
# Format
# Ubuntu version (or * for all);role (web,db, or *);package
#
# === Core applications ===
#
*;^curl\s
*;^figlet\s
*;^perl\s
*;^unzip\s
*;^members\s
*;^net-tools\s
*;^git\s
*;^dos2unix\s
*;^libcrypt-rijndael-perl\s
*;^libdbi-perl\s
*;^libdbd-mysql-perl\s
*;^libconvert-base32-perl\s
*;^libimager-qrcode-perl\s
*;^libcrypt-pbkdf2-perl\s
*;^libcrypt-rijndael-perl\s
*;^libmime-base32-perl\s
*;^libconvert-base32-perl\s
*;^openssh-server\s
#
# === Web Servers ===
#
web;^apache2\s
web;^apache2-bin\s
web;^apache2-data\s
web;^apache2-utils\s
web;^libapache2-mod-auth-plain\s
web;^libapache2-mod-fcgid\s
web;^libapache2-mod-perl2\s
web;^php[0-9]+?\.?[0-9]+?\s
web;^php[0-9]+?\.?[0-9]+?-cgi\s
web;^php[0-9]+?\.?[0-9]+?-common\s
web;^php[0-9]+?\.?[0-9]+?-mysql\s
web;^libapache2-mod-php[0-9]+?\.?[0-9]+?\s
web;^php[0-9]+?\.?[0-9]+?-mbstring\s
web;^php[0-9]+?\.?[0-9]+?-gd\s
web;^php[0-9]+?\.?[0-9]+?-zip\s
web;^php[0-9]+?\.?[0-9]+?-dom\s
web;^php[0-9]+?\.?[0-9]+?-curl\s
web;^php[0-9]+?\.?[0-9]+?-mcrypt\s
web;^php[0-9]+?\.?[0-9]+?-imagick\s
#
# === Database ===
#
*;^mysql-client-[0-9]+?\.?[0-9]+?\s
db;^mysql-server-?[0-9]+?\.?[0-9]+?\s
web;^phpmyadmin\s
